# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file

# boto3==1.0.0

dash==2.1.0
dash-bootstrap-components==1.0.3
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-renderer==1.1.2
dash-table== 5.0.0

Flask==2.0.2
Flask-Compress==1.5.0

# numpy==1.22.2

openpyxl 

# pandas ==1.3.5

plotly ==5.1.0
